__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
# local experiments
learning_examples/*
!learning_examples/16_next_phase_research_plan.md
.idea/
